<!DOCTYPE html>
<html lang="en" manifest="tictactoe.appcache">
  <head>
    <title>Tic Tac Toe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Quine Interactive is one man's journey through turbulent waters of open source and modern web">
    <meta name="keywords" content="software, development, software development, web, web development, web application, open source, html5">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/quine/firefoxOs.css">
    <link rel="stylesheet" href="../css/games/tictactoe.css">
  </head>
  <body>
    <div id="main_container">
      Loading...
    </div>
    <script id="index-template" type="text/x-handlebars-template">
      <h2>
        <p>
          Tic Tac Toe
        </p>
      </h2>
      <nav>
        <ul>
          <li>
            <a href="#play">Play</a>
          </li>
          <li>
            <a href="#options">Options</a>
          </li>
          <li>
            <a href="#instructions">Instructions</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
        </ul>
      </nav>
    </script>
    <script id="play-template" type="text/x-handlebars-template">
      <h2>
        <img id="backPlay" src="../images/quine/common-back.png"/>
        <p>
          Play
        </p>
      </h2>
      <canvas id="board"></canvas>
      <p id="message">Click on the grid to play</p>
    </script>
    <script id="options-template" type="text/x-handlebars-template">
      <h2>
        <img id="backOptions" src="../images/quine/common-back.png"/>
        <p>
          Options
        </p>
      </h2>
      <nav>
        <ul>
          <li {{#if isFirst}} class="selected" {{/if}}>
            <a id="first">Play first</a>
          </li>
          <li {{#unless isFirst}} class="selected" {{/unless}}>
            <a id="second">Play second</a>
          </li>
        </ul>
      </nav>
    </script>
    <script id="instructions-template" type="text/x-handlebars-template">
      <h2>
        <img id="backInstructions" src="../images/quine/common-back.png"/>
        <p>
          Instructions
        </p>
      </h2>
      <article>
        <p>
          This is a and old paper and pen game. Tic Tac Toe is played on 3x3 grid. You choose will you play first or second.
          Computer and you play in turn by writing X or O on any available square. Player that manages to connect three symbols
          horizontally, vertically or diagonally wins.
        </p> 
      </article>
    </script>
    <script id="about-template" type="text/x-handlebars-template">
      <h2>
        <img id="backAbout" src="../images/quine/common-back.png"/>
        <p>
          About
        </p>
      </h2>
      <article>
        <p>
          Developed by: <a target="_blank" href="http://quineinteractive.com">Quine Interactive</a>
        </p>
        <p>
          Version 2.4.7: Minor optimization.
        </p>
        <p>
          Version 2.4.6: Updated dependencies.
        </p>
        <p>
          Version 2.4.5: Updated dependencies.
        </p>
        <p>
          Version 2.4.4: Updated dependencies.
        </p>
        <p>
          Version 2.4.3: Minor optimization.
        </p>
        <p>
          Version 2.4.2: Updated dependencies.
        </p>
        <p>
          Version 2.4.1: Fixed styling for different screen resolutions.
        </p>
        <p>
          Version 2.4.0: AI bug fixes.
        </p>
        <p>
          Version 2.3.0: AI bug fixes.
        </p>
        <p>
          Version 2.2.0: Modified UI to use FirefoxOs color theme.
        </p>
        <p>
          Version 2.1.0: Bug fixes.
        </p>
        <p>
          Version 2.0.0: New UI design.
        </p>
        <p>
          Version 1.0.5: AI fix of the bug Goran Vasic reported.
        </p>
        <p>
          Version 1.0.4: AI fix of the bug reviewer jens5 reported.
        </p>
        <p>
          Version 1.0.3: Initial release.
        </p>
      </article>
    </script>
    <script type="text/javascript" src="../js/libs/json2.js"></script>
    <script type="text/javascript" src="../js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/libs/underscore-min-1.7.0.js"></script>
    <script type="text/javascript" src="../js/libs/backbone-min-1.1.2.js"></script>
    <script type="text/javascript" src="../js/libs/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="../js/libs/atlas.0.2.1.js"></script>
    <script type="text/javascript" src="../js/games/tictactoe/game.js"></script>
    <script type="text/javascript" src="../js/games/tictactoe/app.js"></script>
  </body>
</html>
